<section>
    <mat-card>
        <button mat-raised-button color="primary" routerLink="/books">Books</button>
        <button mat-raised-button color="primary" routerLink="/genres">Genres</button>
        <button mat-raised-button color="primary" routerLink="/authors">Authors</button>
    </mat-card>
</section>

<!-- <section>
    <nav>
        <ul>
            <li>
                <a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a>
            </li>
            <li>
                <a routerLink="/genres" routerLinkActive="active" ariaCurrentWhenActive="page">Genres</a>
            </li>
            <li>
                <a routerLink="/authors" routerLinkActive="active" ariaCurrentWhenActive="page">Authors</a>
            </li>
        </ul>
    </nav>
</section> -->