<section>
    <mat-card>
        <button mat-raised-button color="primary" routerLink="/genres" routerLinkActive="active">Genres</button>
        <button mat-raised-button color="primary" routerLink="/authors" routerLinkActive="active">Authors</button>
        <button mat-raised-button color="primary" routerLink="/books" routerLinkActive="active">Books</button>
    </mat-card>
</section>

<!-- <section>
    <nav>
        <ul>
            <li>
                <a routerLink="/books" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a>
            </li>
            <li>
                <a routerLink="/genres" routerLinkActive="active" ariaCurrentWhenActive="page">Genres</a>
            </li>
            <li>
                <a routerLink="/authors" routerLinkActive="active" ariaCurrentWhenActive="page">Authors</a>
            </li>
        </ul>
    </nav>
</section> -->
