<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <section>
        <form [formGroup]="bookDetailForm">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
                <mat-error>Title is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Published Year</mat-label>
                <input matInput formControlName="publishedYear">
                <mat-error>Published Year is required.</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Genre</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of genres$ | async" [value]="item"
                                (onSelectionChange)="onGenreChange(item)">
                        {{item.name }}

                    </mat-option>
                </mat-select>
                <mat-error>AAA</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Author</mat-label>
                <mat-select formControlName="authorId">
                    <mat-option *ngFor="let item of filteredAuthors$ | async" [value]="item"
                                (onSelectionChange)="onAuthorChange(item)">
                        {{item.firstName + item.lastName }}
                    </mat-option>
                </mat-select>
                <mat-error>BBB</mat-error>
            </mat-form-field>
            <!--            <app-combo-box-->
            <!--                [label]="'Genre'"-->
            <!--                [list]="genres$ | async"-->
            <!--                [errorMessages]="['Genre is required.']"-->
            <!--                (onModelChange)="onGenreChange($event)"-->
            <!--                [parentGroup]="bookDetailForm"-->
            <!--                [formControlName]="'genreId'">-->
            <!--            </app-combo-box>-->

            <!--            <app-combo-box-->
            <!--                [label]="'Author'"-->
            <!--                [list]="filteredAuthors$ | async"-->
            <!--                [nameField]="'firstName'"-->
            <!--                [errorMessages]="['Author is required.']"-->
            <!--                (onModelChange)="onAuthorChange($event)"-->
            <!--                [parentGroup]="bookDetailForm">-->
            <!--            </app-combo-box>-->
        </form>

    </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSave()"
            [disabled]="!bookDetailForm.valid">Save
    </button>
</mat-dialog-actions>
