<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content>
    <section>
        <form [formGroup]="formGroup">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
                <mat-error>Title is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Published Year</mat-label>
                <input matInput formControlName="publishedYear" type="number">
                <mat-error *ngIf="formGroup.get('publishedYear')?.hasError('required')">
                    Published Year is required.
                </mat-error>
                <mat-error *ngIf="formGroup.get('publishedYear')?.hasError('isNegative')">
                    Published Year must be positive.
                </mat-error>
                <mat-error *ngIf="formGroup.get('publishedYear')?.hasError('characterCount')">
                    Published Year must have {{formGroup.get('publishedYear')?.errors?.['requiredValue']}} character.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Genre</mat-label>
                <mat-select [formControl]="genreId">
                    <mat-option *ngFor="let item of genres$ | async" [value]="item.id"
                                (onSelectionChange)="onGenreChange($event)">
                        {{item.name }}
                    </mat-option>
                </mat-select>
                <mat-error>AAA</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Author</mat-label>
                <mat-select [formControl]="authorId">
                    <mat-option *ngFor="let item of filteredAuthors$ | async" [value]="item.id"
                                (onSelectionChange)="onAuthorChange($event)">
                        {{item.firstName + ' ' + item.lastName }}
                    </mat-option>
                </mat-select>
                <mat-error>BBB</mat-error>
            </mat-form-field>
        </form>

    </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSave()"
            [disabled]="!formGroup.valid">Save
    </button>
</mat-dialog-actions>
